section {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: #8bbbd9;
    border-radius: 10px;
    margin-left: auto;
    margin-top: 100px;
    margin-right: auto;
    width: 40%;
}

.signin {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;

    > input[type="text"],
    > input[type="password"],
    > button,
    > textarea {
        font-family: "Nunito", sans-serif;
        font-size: 22px;
        padding: 0.25rem;
        border-radius: 0.5rem;
    }

    > label,
    > button {
        margin-top: 1rem;
    }

    > button {
        padding: 0.5rem;
    }
}
