#quiztitle, #questiontitle{
    margin-bottom: 50px;
    margin-top: 50px;
    color: #095f84;
    position: absolute;
}

#quiztitle{
    top: 7%;
    left: 47%;
    font-size: 60px;
}

#questiontitle{
    top: 16%;
    left: 20%;
    font-size: 35px;

}

/* timer section styling start */

#timer-section{
    width: 60%;
}

#timerlottie{
    position: absolute;
    top: 70%;
    left: 60%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 500px;
     
}

#timer{
    position: absolute;
    top: 35%;
    left: 60%;
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: #095f84;
}

#timerwarning{
    position: absolute;
    top: 35%;
    left: 87%;
    font-size: 30px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: #095f84;
}

/* timer section styling end */

#backarrow2 {
    position: absolute;
    top: 85%;
    left: 5%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 50px;
    cursor: pointer;
    color: #095f84 !important;
}

#qa_section{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 50vh;
}


.individual-ans.clicked {
    background-color: #b5bf63;
}

#ans p:hover{
    cursor: pointer;
    background-color: #b5bf63;
}

#submit-button{
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;

}

.container {
    margin-bottom: 50px;
}

#congrats{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: #095f84;
}

#backtohomepage{
    position: absolute;
    top: 100%;
    left: 20%;
    transform: translate(-50%, -50%);
    border: solid 3px #b5bf63;
	border-radius: 5px;
    padding: 10px 30px;
    background-color: #b5bf63;
	margin: 10px;
	font-family: 'Quicksand', sans-serif;
	font-weight: 600;
	color: #095F84;
}

#backtohomepage:hover{
    cursor: pointer;
    background-color: whitesmoke;
    transition: all 0.3s ease;
}



/* media queries start */

@media only screen and (min-width: 1401px) {
    #ans {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
}

#ans p {
    
    /* background-color: red; */
    border: solid 1px #095f84;
    border-radius: 10px;
    padding: 30px 50px;
    width: 20vw;
    margin: 55px 20px;
    color:#095f84;
    font-weight: 600;
}
}


@media only screen and (max-width:1400px) {
    #ans div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #ans p {
        
        /* background-color: red; */
        border: solid 1px #095f84;
        border-radius: 10px;
        padding: 30px 50px;
        width: 20vw;
        margin: 33px;
        color:#095f84;
        font-weight: 600;
    }

    #questiontitle{
        top: 15%;
        left: 20%;
        font-size: 25px;
    }

    #submit-button{
        position: absolute;
        top: 133%;
        left: 47%;
    }


    #timerlottie{
        position: absolute;
        top: 60%;
        left: 70%;
        transform: translate(-50%, -50%);
        height: 300px;
        width: 300px;
         
    }

    #timerwarning{
        position: absolute;
        top: 35%;
        left: 90%;
        font-size: 20px;
   
    }
    
}

@media only screen and (max-width:800px) {
    #quiztitle{
        top: 10%;
        left: 50%;
        font-size: 40px;
    }

}

/* media queries end */


#container {
    margin-bottom: 50px;
}
