

#navbar {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 7px;
    height: 95px;
    border-bottom: 1px solid #7d8c45AA;
    background-color: #fcfcfc;
}

#navbar #links {
    display: flex;
    font-size: 22px;
    justify-content: flex-end;
    align-content: center;
    font-weight: 600;
    margin-left: 45vw;
    white-space: nowrap;
}
#navbar a, 
#navbar a:visited {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
    color: #095F84;
}
#navbar a:hover {
    color: #7d8c45;
}

#navbar a:active {
    text-decoration: underline;
    color: #7d8c45;
}



img {
    max-width: 15rem;
}


#footer {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 1.5rem;
    color: white;
    background: #7d8c45;
    text-align: center;
    font-weight: bold;
    justify-content:center;
    padding: 10px 0px 6px 0px;
}
