#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1.5rem;
    color: white;
    background: #7d8c45;
    text-align: center;
    font-weight: bold;
    justify-content: center;
    padding: 10px 0px 6px 0px;
}
