@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
    margin: 0;
    font-family: "Quicksand";
    color: #333;
}
.navbar {
    display: flex;

    align-items: center;
    max-width: 600px;
    margin: 5px 0px 5px 0px;

    border-bottom: 1px solid #f2f2f2;
}

.navbar .links {
    display: flex;
    font-size: large;
    justify-content: flex-end;
    margin-left: 50vw;
    white-space: nowrap;
}
.navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
}
.navbar a:hover {
    color: rgb(0, 195, 255);
}

.navbar a.active {
    text-decoration: underline;
    color: rgb(0, 195, 255);
}

main {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
}

img {
    max-width: 15rem;
}
